# Supabase Live Connection Credentials
# You can get these from your Supabase Project Settings -> API
VITE_SUPABASE_URL=https://jbfgqsljvssabqdvqmvq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpiZmdxc2xqdnNzYWJxZHZxbXZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwMTg0NzksImV4cCI6MjA5OTU5NDQ3OX0.t86jQCaa1DvJPc6YkUtfojkdPYEH6yLZeFSu8n3ziE0
